<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表管理</title>
    <!--引入vue-->
    <script type="text/javascript" src="/resources/js/vue.js"></script>
    <!--引入echars-->
    <!--<script src="/echars/echarts.min.js"></script>-->
    <script type="text/javascript" src="/resources/js/echarts.min.js"></script>
    <!--引入axios-->
    <script type="text/javascript" src="/resources/js/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <!--报表管理所生成的图，就显示在div块元素中-->
        <div id="main" style="width: 800px;height: 800px"></div>
    </div>
</body>
<!--引入自定义的js-->
<script type="text/javascript" src="/resources/js/eachars/getEaharts.js"></script>
</html>