<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理列表</title>
    <!--引入elementUI的样式-->
    <link rel="stylesheet" href="/resources/element-ui/lib/theme-chalk/index.css">
    <!--引入vue的js-->
    <script type="text/javascript" src="/resources/js/vue.js"></script>
    <!--引入elementUI的js-->
    <script type="text/javascript" src="/resources/element-ui/lib/index.js"></script>
    <!--引入axios-->
    <script src="/resources/js/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <el-row v-show="isRoot">
            <el-col :span="4">
                <el-button type="success" icon="el-icon-plus" size="small" round
                    @click="openAddAccountWin">添加</el-button>
            </el-col>
        </el-row>
        <!--间隙-->
        <div style="margin: 5px"></div>
        <!--表格-->
        <el-table :data="accountList" border>
            <el-table-column label="序号" align="center" type="index"></el-table-column>
            <el-table-column label="主键" align="center" prop="id"></el-table-column>
            <el-table-column label="账号" align="center" prop="username"></el-table-column>
            <el-table-column label="头像" align="center" prop="imgUrl">
                <template slot-scope="scope">
                    <!--放大图片-->
                    <el-popover placement="right" title="查看大图" trigger="click">
                        <!--原图-->
                        <el-image slot="reference" :src="'/download/downloadImg.do?imgUrl='.concat(scope.row.imgUrl)"
                            style="width: 50px;height: 50px;cursor: pointer"></el-image>
                        <!--放大图-->
                        <el-image :src="'/download/downloadImg.do?imgUrl='.concat(scope.row.imgUrl)"
                            style="width: 250px;height: 250px;"></el-image>

                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column label="创建时间" align="center" prop="createTime"></el-table-column>
            <el-table-column label="修改时间" align="center" prop="updateTime"
                :formatter="updateTimeFmt"></el-table-column>
            <el-table-column label="状态" align="center" prop="status"
                :formatter="statusFmt"></el-table-column>
            <el-table-column label="操作" align="center" width="350" v-if="isRoot">
                <template slot-scope="scope">
                    <el-form :inline="true" size="small">
                        <el-form-item>
                            <!--disabled=true表示禁用，反之为启用-->
                            <el-button :disabled="scope.rwo.role == 1 ?true:false" type="danger"
                            icon="el-icon-delete" @click="delOneAccount(scope.row)">删除</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="danger" icon="el-icon-refresh" @click="resetAccountPwd(scope.row)">重置密码</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-switch :active-value="1" :inactive-value="0" :disabled="scope.row.role == 1? true:false"
                            @change="switchChange(scope.orw)" v-model="scope.row.status" active-text="启用"
                            inactive-text="禁用"></el-switch>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
        </el-table>
        <!--分页-->
        <el-pagination
                :total="total"
                :current-page="pageNum"
                :page-size="pageSize"
                :page-sizes="pageSizes"
                @current-change="currentChange"
                @size-change="sizeChange"
                layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
        <!--弹出框-->
        <el-dialog title="添加账号" :visible.sync="addAccountWinOpenStatus" @close="addAccountWinClose">
            <el-form ref="addAccountWinRef" :model="addAccountFormData" :rules="addAccountWinRules">
                <el-form-item prop="username">
                    <el-input v-model="addAccountFormData.username" prefix-icon="el-icon-user"
                    placeholder="请输入账号名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-check" @click="addAccountOK">确定</el-button>
                    <el-button type="danger" icon="el-icon-close" @click="addAccountCancel">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</body>
</html>